@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  border: 1px solid red;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#container {
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #1aa3ff;
  color: white;
}

header {
  flex: 2;
  display: inline-flex;
  align-items: center;
  padding-left: 10px;
  gap: 5px;
  top: 0;
}

header img {
  height: 50px;
  width: 50px;

  margin-left: 20px;
}

#content-section {
  flex: 18;
  display: flex;
}

#left-content {
  background-color: #ccebff;
  padding: 30px;
  gap: 14px;
  display: flex;
  flex-direction: column;
  flex: 1.8;
}

#left-content ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 1.3rem;
}

li#inbox,
li#today,
li#this-week,
#add-project,
#add-task-h4,
.project {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
  min-height: 10px;
}

li#inbox:hover,
li#today:hover,
li#this-week:hover,
#add-project:hover,
.project {
  cursor: pointer;
}

li#inbox {
  background-image: url("../images/inbox.svg");
}

li#today {
  background-image: url("../images/calendar-today.svg");
}

li#this-week {
  background-image: url("../images/calendar-month.svg");
}

#left-content h3 {
  margin-top: 12px;
  font-size: 1.8rem;
}

.project {
  background-image: url("../images/format-list-bulleted.svg");
}

#add-project {
  font-size: 1.3rem;
  background-image: url("../images/plus.svg");
}

#right-content {
  flex: 7;
  background-color: #def2ff;
}

#right-content #right-container {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-top: 30px;
  padding-right: 20px;
  gap: 10px;
}

#right-content h3 {
  font-size: 2rem;
  display: inline;
  margin-bottom: 20px;
}

.task-div {
  display: flex;
  gap: 10px;
}

.task-div > p:nth-child(2) {
  flex: 1;
  justify-self: end;
}

.circle-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: black;
  border-width: 2px;
  background-color: #def2ff;
}

.circle-btn:hover {
  cursor: pointer;
}

#right-content p {
  font-size: 1rem;
}

#add-task-div {
  display: none;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

input[type="text"] {
  border-radius: 10px;
  height: 1.5rem;
  padding-left: 5px;
}

#add-task-div div {
  display: flex;
  gap: 10px;
}

#add-task-h4 {
  display: inline-flex;
  background-image: url("../images/plus.svg");
  cursor: pointer;
  margin-bottom: 10px;
}

#add-task-btn,
#cancel-task-btn {
  flex: 1;
  border-radius: 10px;
  height: 1.6rem;
  font-size: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

#add-task-btn {
  background-color: #81cb7e;
  border-color: #81cb7e;
}

#cancel-task-btn {
  background-color: #d1ad9e;
  border-color: #d1ad9e;
}

footer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

footer p {
  background-image: url("../images/github.svg");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 25px;
  min-height: 10px;
  color: black;
  filter: invert(100%);
}
